asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
dj-database-url==3.0.0
Django==5.0.6
forex-python==1.9.2
gunicorn==23.0.0
idna==3.10
mysql-connector-python==8.4.0
node==1.2.2
odict==1.9.0
packaging==25.0
plumber==1.7
psycopg==3.2.1
psycopg2==2.9.9
psycopg2-binary==2.9.10
python-decouple==3.8
requests==2.32.4
setuptools==70.1.1
simplejson==3.20.1
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.5.0
whitenoise==6.9.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.4.post2
zope.lifecycleevent==5.0
zope.proxy==5.2
